body{
    font-family: Arial, sans-serif;
    background-color:beige;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    text-align:center;
    margin-bottom: 40px;
}
.card.container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}
.card{
    width:300px;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border: radius 50%;
    border: 4px solid blue;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

}
.card:hover{
    transform: translateY(-10px); 
}
.card img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
}
.card h2{
    margin-bottom:5px;

}
.card h3{
    font-weight: bold;
    font-size:1rem;
    color:black;
    margin-bottom:15px;    
}
.card p{
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 15px;
}

.btn{
    display:inline-block;
    padding:10px 20px;
    background-color:#4a90e2;
    color:white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease;
    cursor:pointer;
}
.btn:hover{
    background:#1c6fd1;
}

